AI Agent Engineer Technical Assessment.json
{
  "name": "AI Agent Engineer Technical Assessment",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": "={{ 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1344,
        1040
      ],
      "id": "3c4b454a-f1b1-41ec-8d06-084aed3e26e3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/59733062-08fe-4a2a-b140-2e3bbe9078f6/errors",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "={{ $workflow.name }}"
            },
            {
              "name": "error_message",
              "value": "={{ $json.error.message }}"
            },
            {
              "name": "failed_node",
              "value": "={{ $json.node.name }}"
            },
            {
              "name": "execution_id",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2064,
        1664
      ],
      "id": "054cc7f9-72c7-46e4-9074-180d078aab2a",
      "name": "HTTP Request2",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/59733062-08fe-4a2a-b140-2e3bbe9078f6/reglur_users",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3424,
        1632
      ],
      "id": "54d4b310-3f04-44bc-a31d-9ebee11d32ec",
      "name": "sending users to regular users endpoint",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/59733062-08fe-4a2a-b140-2e3bbe9078f6/vip_users",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3424,
        1328
      ],
      "id": "1940390e-eebc-4274-94fc-91571d8093ae",
      "name": "sending users to vip users endpoint",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "var companies_sizes = {};\n\nfor (const item of items) {\n  const user = item.json;\n  if (user.company?.name ) {\n    const name =user.company?.name ;\n    companies_sizes[name] = (companies_sizes[name] || 0) + 1;\n  }\n}\n\n\nreturn items\n  .map(item => {\n    const user = item.json;\n    console.log(user);\n    return {\n      json: {\n        full_name: `${user.firstName} ${user.lastName}`,\n        email: user.email,\n        phone: user.phone,\n        company_name: user.company?.name || null,\n        processed_at: new Date().toISOString(),\n         valid:user.company?.name  && user.phone &&user.email &&user.full_name,\n         geocoding: user.address?.address || null,\n        company_size:user.company?.name ? companies_sizes[user.company?.name ] : null\n      }\n    };\n  })\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        1040
      ],
      "id": "0a2fe892-5fad-445f-b0b2-b2dc02134073",
      "name": "extract information",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "674f4da6-4710-45c0-b3b0-a3cae178e5b2",
              "leftValue": "={{$json.company_size}}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2768,
        1488
      ],
      "id": "f4166b97-9f6f-4163-9fb8-cef7301bec12",
      "name": "Conditional Routing based on company size"
    },
    {
      "parameters": {
        "url": "https://dummyjson.com/users",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        944
      ],
      "id": "96044d7d-6ac5-4bb6-bdd3-21aa09046e33",
      "name": "request user info",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "https://dummyjson.com/posts",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1552,
        1152
      ],
      "id": "b89a4223-e07e-46ec-aa71-fc0ec25539dd",
      "name": "request posts info",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "let posts = [];\nif (Array.isArray(items[0]?.json?.posts)) {\n  posts = items[0].json.posts.slice(); \n} else {\n  const allArePosts = items.every(it => it.json && (it.json.id || it.json.title));\n  \n  if (allArePosts) {\n    posts = items.map(it => it.json);\n  } else {\n    for (const it of items) {\n      if (Array.isArray(it.json?.posts)) {\n        posts = posts.concat(it.json.posts);\n      }\n    }\n  }\n}\n\nreturn posts.map(post => ({\n  json: {\n    ...post,\n    processed_at: new Date().toISOString()\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        1152
      ],
      "id": "a735048e-002c-4d05-ac56-784c58f9aa39",
      "name": "normalize posts"
    },
    {
      "parameters": {
        "jsCode": "const emails = new Set();\n\nreturn items[0].json.users\n  .filter(u => !emails.has(u.email) && emails.add(u.email))\n  .map(u => ({\n    json: { ...u, userId: u.id }\n  }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        944
      ],
      "id": "a6732cec-7d24-45c1-a75c-f21598f984e8",
      "name": "Fix the shape and drop duplication"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "userId",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2016,
        1040
      ],
      "id": "e0f0eb0c-a581-4746-87f6-31be92838c08",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      users: items.map(i => i.json)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        1008
      ],
      "id": "e39b31c9-464c-41c6-b121-06759dd6ea2a",
      "name": "aggregate all users into one request"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      users: items.map(i => i.json)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        1328
      ],
      "id": "a8ced4be-d7f9-4e91-a4d9-bae4a58be3d3",
      "name": "aggregate all users into one request1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      users: items.map(i => i.json)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        1632
      ],
      "id": "81636be3-0268-46f0-ab2c-d1e66a32f93a",
      "name": "aggregate all users into one request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0d93f6be-914c-4068-bec2-5d8770aa194a",
              "leftValue": "email",
              "rightValue": "example.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2752,
        1024
      ],
      "id": "d922605f-90da-4417-b5fd-4ccefab724bd",
      "name": "filter based on domain example.com"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/59733062-08fe-4a2a-b140-2e3bbe9078f6",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3408,
        1008
      ],
      "id": "4e163dc4-a24c-48fa-97a6-ed38b94b85c8",
      "name": "send the users have domain example.com",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/59733062-08fe-4a2a-b140-2e3bbe9078f6",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=warning",
              "value": "={{$json.warning}}"
            },
            {
              "name": "processed_at",
              "value": "={{ $json.processed_at }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3376,
        464
      ],
      "id": "4eaff4df-d47d-432f-8cf0-dec65c2c72eb",
      "name": "sending the warning",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/59733062-08fe-4a2a-b140-2e3bbe9078f6",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "total_users",
              "value": "={{$json.total_users}}"
            },
            {
              "name": "passed_filter",
              "value": "={{$json.passed_filter}}"
            },
            {
              "name": "most_common_domain",
              "value": "={{$json.most_common_domain}}"
            },
            {
              "name": "processed_at",
              "value": "={{$json.processed_at}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3392,
        688
      ],
      "id": "9b2134ab-1038-47df-9f97-081a7607c3a9",
      "name": "sending the summary report",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "71284081-b149-4f27-aeef-ad8ebbf9212f",
              "leftValue": "={{ $json.warning }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3008,
        560
      ],
      "id": "258fcb24-7d8d-4a35-b15d-377ddb29ba95",
      "name": "check if there warning"
    },
    {
      "parameters": {
        "jsCode": "const users = items.map(i => i.json);\n\nconst totalUsers = items.length;\nconst filteredUsers = users.length;\n\nconst domainCounts = {};\nusers.forEach(u => {\n  const domain = u.email?.split(\"@\")[1] || \"unknown\";\n  domainCounts[domain] = (domainCounts[domain] || 0) + 1;\n});\n\nlet mostCommonDomain = null;\nlet maxCount = 0;\nfor (const [domain, count] of Object.entries(domainCounts)) {\n  if (count > maxCount) {\n    maxCount = count;\n    mostCommonDomain = domain;\n  }\n}\n\nreturn [\n  {\n    json: {\n      total_users: totalUsers,\n      passed_filter: filteredUsers,\n      most_common_domain: mostCommonDomain,\n      warning: filteredUsers === 0 ? \"No users passed the filter!\" : null,\n      processed_at: new Date().toISOString()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        560
      ],
      "id": "b482ce90-9444-4262-a3ee-9283468ddc38",
      "name": "Aggregation/Reporting"
    },
    {
      "parameters": {
        "content": "# download the data of posts and users and extract data from it\n",
        "height": 600,
        "width": 1180,
        "color": 5
      },
      "id": "46388370-1318-4f1e-bee4-a2c12eef71e9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Aggregation/Reporting: Generate a summary report ",
        "height": 456,
        "width": 1068
      },
      "id": "170e8b45-84a1-4e97-b428-ef507d479be5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2592,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# The main workflow ",
        "height": 296,
        "width": 1068,
        "color": 4
      },
      "id": "866a8523-9d2a-4ef0-8965-9f8ca9938c31",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2592,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "#  Route users to different destinations based on certain criteria",
        "height": 616,
        "width": 1068,
        "color": 6
      },
      "id": "5e5e2348-99e9-48d7-8e04-74658171d4fd",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2592,
        1232
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# error trigger\n",
        "height": 248,
        "width": 732,
        "color": 3
      },
      "id": "b1455596-b648-4f5f-94d2-6a391d0df14f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        1584
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const errorData = items[0]?.json || {};\n\nreturn [\n  {\n    json: {\n      error_message: errorData.error?.message || errorData.message || 'Unknown error',\n      node_name: errorData.node?.name || 'Unknown node',\n      execution_id: errorData.execution?.id || $executionId || 'Unknown execution',\n      timestamp: new Date().toISOString(),\n      stack_trace: errorData.error?.stack || errorData.stack || null,\n      workflow_name: $workflow.name || 'Unknown workflow',\n      error_type: errorData.error?.name || errorData.name || 'Error',\n      full_error_data: errorData\n    }\n  }\n];"
      },
      "id": "9f0be69c-ab22-4238-b841-dfa50d921d90",
      "name": "Format Error Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        1664
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1632,
        1664
      ],
      "id": "e019ad7c-2935-48a8-9cbd-4592ab9481fc",
      "name": "Error Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "request user info",
            "type": "main",
            "index": 0
          },
          {
            "node": "request posts info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract information": {
      "main": [
        [
          {
            "node": "filter based on domain example.com",
            "type": "main",
            "index": 0
          },
          {
            "node": "Conditional Routing based on company size",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregation/Reporting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conditional Routing based on company size": {
      "main": [
        [
          {
            "node": "aggregate all users into one request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aggregate all users into one request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "request user info": {
      "main": [
        [
          {
            "node": "Fix the shape and drop duplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "request posts info": {
      "main": [
        [
          {
            "node": "normalize posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize posts": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fix the shape and drop duplication": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "extract information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate all users into one request": {
      "main": [
        [
          {
            "node": "send the users have domain example.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate all users into one request1": {
      "main": [
        [
          {
            "node": "sending users to vip users endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate all users into one request2": {
      "main": [
        [
          {
            "node": "sending users to regular users endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter based on domain example.com": {
      "main": [
        [
          {
            "node": "aggregate all users into one request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if there warning": {
      "main": [
        [
          {
            "node": "sending the warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sending the summary report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregation/Reporting": {
      "main": [
        [
          {
            "node": "check if there warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Details": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "XCeJ7LnIN4BfUww4"
  },
  "versionId": "4bf8e633-6e88-4cb1-98ac-2eb8d49ad1d1",
  "meta": {
    "instanceId": "674045c47bb5e5b58ca949739329494be4416b2e5eb565f365af030c3a9d0a48"
  },
  "id": "XCeJ7LnIN4BfUww4",
  "tags": [
    {
      "updatedAt": "2025-12-23T16:27:54.965Z",
      "createdAt": "2025-12-23T16:27:54.965Z",
      "id": "0W8miW3hR5EunTR7",
      "name": "filiter"
    },
    {
      "updatedAt": "2025-12-23T16:27:47.317Z",
      "createdAt": "2025-12-23T16:27:47.317Z",
      "id": "HiE8LDGWThJoVxGW",
      "name": "workflow"
    },
    {
      "updatedAt": "2025-12-23T16:27:44.082Z",
      "createdAt": "2025-12-23T16:27:44.082Z",
      "id": "w2tO9IqxtG7b6ZBa",
      "name": "ai"
    }
  ]
}
